/*!
	-----------------------------------------------------------------------------

	4.1 - Estilos propios de la pantalla de SlotMachine
			# Extra

	-----------------------------------------------------------------------------
	*/

.slotMachine
	width: 20%
	border: 5px solid $primary
	border-radius: 10px
	height: 200px
	padding: 0px
	overflow: hidden
	display: inline-block
	text-align: center
	margin: 10px

.slotMachine .slot
	height: 200px
	background-repeat: no-repeat
	background-position: center

.slot1
	background-image: url('../images/slot-machine/slot1.png')


.slot2
	background-image: url('../images/slot-machine/slot2.png')


.slot3
	background-image: url('../images/slot-machine/slot3.png')


.slot4
	background-image: url('../images/slot-machine/slot4.png')


.slot5
	background-image: url('../images/slot-machine/slot5.png')


.slot6
	background-image: url('../images/slot-machine/slot6.png')
